@import "tailwindcss";

@theme inline {
  --color-brand-bg: #f9f8f0;
  --color-brand-text: #333333;
  --color-brand-green: #738b27;
  --color-brand-brown: #b77a1e;
  --color-brand-input: #e9e9e9;
  --color-brand-log: #d4e0c3;
  --color-brand-shadow: #89a868;
  
  --font-title: var(--font-jua);
  --font-body: var(--font-gowun-dodum);
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  overflow-x: hidden;
}
